﻿[AntiForgeryToken:true]

[JavaScript:{ jsname: "JQuery" }]
[JavaScript:{ path: "~/Resources/Shared/scripts/dnn.jquery.js"}]

[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/main.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/polyfills.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/polyfills-es5.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/runtime.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/styles.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/vendor.js", priority:100, provider: "DnnFormBottomProvider"}]

<div id="Invoice-[ModuleContext:ModuleId]">
    <div class="dnnForm dnnEditBasicSettings" id="dnnEditBasicSettings">
        <div class="dnnFormExpandContent dnnRight "><a href="#">[Resx:{key:"ExpandAll"}]</a></div>

        <h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead dnnClear">
            <a href="#" class="dnnSectionExpanded">[Resx:{key:"BasicSettings"}]</a>
        </h2>
        <fieldset>
            <div class="dnnFormInvoice">
                <div><label for="invoiceName">[Resx:{key:"lblName"}]</label></div>
                <input id="invoiceName" type="text" data-bind="textInput: name" />
            </div>
            <div class="dnnFormInvoice">
                <div><label for="invoiceDescription">[Resx:{key:"lblDescription"}]</label></div>
                <textarea id="invoiceDescription" data-bind="value: description" cols="20" rows="5"></textarea>
            </div>
            <div class="dnnFormInvoice">
                <div><label for="invoiceUser">[Resx:{key:"lblAssignedUser"}]</label></div>
                <select data-bind="options: userList,
                                    optionsText: 'name',
                                    optionsValue: 'id',
                                    value: assignedUser,
                                    optionsCaption: 'Choose...'"></select>
            </div>
        </fieldset>
    </div>
    <a data-bind="click: save" href="#" class="dnnPrimaryAction">[Resx:{key:"btnSubmit"}]</a>
    <a data-bind="click: cancel" href="#" class="dnnSecondaryAction">[Resx:{key:"btnCancel"}]</a>
</div>