﻿[AntiForgeryToken:true]

[JavaScript:{ jsname: "JQuery" }]
[JavaScript:{ path: "~/Resources/Shared/scripts/dnn.jquery.js"}]

[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/main.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/polyfills.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/polyfills-es5.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/runtime.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/styles.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/UserManagement/dist/vendor.js", priority:100, provider: "DnnFormBottomProvider"}]

[ModuleAction:{ controlKey : "Edit",
                securityAccessLevel : "Edit",
                titleKey: "EditModule",
                localResourceFile: "~/DesktopModules/UserManagement/App_LocalResources/View.resx"
}]

<div id="QuickSettings-[ModuleContext:ModuleId]" class="dnnForm">
    <div class="dnnFormMessage dnnFormInfo">
        [Resx:{key:"SettingsInfo"}]
    </div>
</div>